@model Loyalty.Models.Collection

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/Admin/Public/css/Collection/createStyle.css" rel="stylesheet" />

@using (Html.BeginForm("Create", "Collection", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div id="n_2_Add_Collection">

        <div id="Group_373_bjr">
            <div id="Promotion_bjs">
                <span>Promotion</span>
            </div>
            <div id="n___Add_new_Collection">
                <span>>   Add new Collection</span>
            </div>
        </div>
        <svg class="Rectangle_337_bju">
            <rect id="Rectangle_337_bju" rx="6" ry="6" x="0" y="0" width="1452" height="711">
            </rect>
        </svg>
        <div id="New_Collection">
            <span>New Collection</span>
        </div>
        <div id="Group_413_bjw">
            <div class="Rectangle_334_bjx">
                <rect id="Rectangle_334_bjx" rx="6" ry="6" x="0" y="0" width="1372" height="36">
                    @Html.EditorFor(model => model.collectionName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.collectionName, "", new { @class = "text-danger" })
                </rect>
            </div>
        </div>
        <div id="Group_509_bjz">
            <div id="Group_421_bj">
                <div class="Rectangle_300_bj">
                    <rect id="Rectangle_300_bj" rx="0" ry="0" x="0" y="0" width="65" height="36">
                        <a class="btn btn-sm btn-default" href="@Url.Action("Index","Campaign")" style="width:69px ; height:55px">
                            <i class="fas fa-backward"></i> <br /> <b>Cancel</b>
                        </a>
                    </rect>
                </div>
            </div>
            <div id="Group_422_bj">
                <div class="Rectangle_300_bka">
                    <rect id="Rectangle_300_bka" rx="0" ry="0" x="0" y="0" width="60" height="36">
                        <button type="submit" class="btn btn-primary btn-sm">
                            <i class="fas fa-save"></i> <b>Save</b>
                        </button>

                    </rect>
                </div>
            </div>
            <div id="Group_434_bj">
                <svg class="Rectangle_300_bkb">
                    <rect id="Rectangle_300_bkb" rx="0" ry="0" x="0" y="0" width="70" height="36">
                    </rect>
                </svg>
                <div id="Delete_bj">
                    <span>Delete</span>
                </div>
            </div>
        </div>
        <div id="Add_Collection_to_Campaign">
            <span>Add Collection to Campaign</span>
        </div>
        <svg class="Line_123_bka" viewBox="0 0 1372 0.5">
            <path id="Line_123_bka" d="M 0 0 L 1372 0">
            </path>
        </svg>
        <div id="Collection_name_bkb">
            <span>Collection name</span>
        </div>
        <div id="Pepsi_Black_O2O_bkc">
            <span>Pepsi Black O2O</span>
        </div>
        <div id="Icon_ionic-ios-close-circle-ou_bkd">
            <svg class="Path_46_bke" viewBox="12.359 12.354 6 6">
                <path id="Path_46_bke" d="M 18.18253517150879 17.33172225952148 L 16.20932197570801 15.35939884185791 L 18.18253517150879 13.38707447052002 C 18.41467666625977 13.15503692626953 18.41467666625977 12.77329730987549 18.18253517150879 12.54125785827637 C 17.95039176940918 12.30922031402588 17.56847953796387 12.30922031402588 17.33633613586426 12.54125785827637 L 15.36312484741211 14.51358222961426 L 13.38990783691406 12.54125785827637 C 13.15776634216309 12.30922031402588 12.80580711364746 12.27553749084473 12.54371070861816 12.54125785827637 C 12.27786827087402 12.80697917938232 12.31905555725098 13.162522315979 12.54371070861816 13.38707447052002 C 12.76836585998535 13.61162757873535 14.51692390441895 15.35939884185791 14.51692390441895 15.35939884185791 C 14.51692390441895 15.35939884185791 12.79457473754883 17.08097076416016 12.54371070861816 17.33172225952148 C 12.2928466796875 17.58247184753418 12.30407905578613 17.9417552947998 12.54371070861816 18.17753791809082 C 12.7833423614502 18.41706085205078 13.15776634216309 18.40957641601562 13.38990783691406 18.17753791809082 L 15.36312103271484 16.20521354675293 L 17.33633613586426 18.17753791809082 C 17.56847953796387 18.40957641601562 17.95039176940918 18.40957641601562 18.18253326416016 18.17753791809082 C 18.41842269897461 17.94549942016602 18.41842269897461 17.56376075744629 18.18253517150879 17.33172225952148 Z">
                </path>
            </svg>
            <svg class="Path_47_bkf" viewBox="3.375 3.375 14 14">
                <path id="Path_47_bkf" d="M 10.37500190734863 4.317307949066162 C 11.99375152587891 4.317307949066162 13.51490592956543 4.946634769439697 14.65913677215576 6.090866088867188 C 15.80336761474609 7.23509693145752 16.43269348144531 8.756250381469727 16.43269348144531 10.37500190734863 C 16.43269348144531 11.99375152587891 15.80336761474609 13.51490592956543 14.65913677215576 14.65913677215576 C 13.51490592956543 15.80336761474609 11.99375152587891 16.43269348144531 10.37500190734863 16.43269348144531 C 8.756250381469727 16.43269348144531 7.23509693145752 15.80336761474609 6.090866088867188 14.65913677215576 C 4.946634769439697 13.51490592956543 4.317307949066162 11.99375152587891 4.317307949066162 10.37500190734863 C 4.317307949066162 8.756251335144043 4.946634769439697 7.23509693145752 6.090866088867188 6.090866088867188 C 7.23509693145752 4.946634769439697 8.756250381469727 4.317307949066162 10.37500190734863 4.317307949066162 M 10.37500190734863 3.375000238418579 C 6.50817346572876 3.375000238418579 3.375000238418579 6.50817346572876 3.375000238418579 10.37500190734863 C 3.375000238418579 14.24182891845703 6.50817346572876 17.37500190734863 10.37500190734863 17.37500190734863 C 14.24182891845703 17.37500190734863 17.37500190734863 14.24182891845703 17.37500190734863 10.37500190734863 C 17.37500190734863 6.50817346572876 14.24182891845703 3.375000238418579 10.37500190734863 3.375000238418579 L 10.37500190734863 3.375000238418579 Z">
                </path>
            </svg>
        </div>
        <div id="n_9092020____0000_AM_bkg">
            <span>09/09/2020    00:00 AM</span>
        </div>
        <div id="n_9102020____0000_AM_bkh">
            <span>09/10/2020    00:00 AM</span>
        </div>
        <div onclick="application.goToTargetView(event)" id="Edit_this_campaign_bki">
            <span>Edit this campaign</span>
        </div>
        <div id="Take_place_on_bkj">
            <span>Take place on</span>
        </div>
        <svg class="Line_132_bkk" viewBox="0 0 1318 0.5">
            <path id="Line_132_bkk" d="M 0 0 L 1318 0">
            </path>
        </svg>
        <div id="End_on_bkl">
            <span>End on</span>
        </div>
        <div id="Pepsi_Black_O2O_bkm">
            <span>Pepsi Black O2O</span>
        </div>
        <div id="Icon_ionic-ios-close-circle-ou_bkn">
            <svg class="Path_46_bko" viewBox="12.359 12.354 6 6">
                <path id="Path_46_bko" d="M 18.18253517150879 17.33172225952148 L 16.20932197570801 15.35939884185791 L 18.18253517150879 13.38707447052002 C 18.41467666625977 13.15503692626953 18.41467666625977 12.77329730987549 18.18253517150879 12.54125785827637 C 17.95039176940918 12.30922031402588 17.56847953796387 12.30922031402588 17.33633613586426 12.54125785827637 L 15.36312484741211 14.51358222961426 L 13.38990783691406 12.54125785827637 C 13.15776634216309 12.30922031402588 12.80580711364746 12.27553749084473 12.54371070861816 12.54125785827637 C 12.27786827087402 12.80697917938232 12.31905555725098 13.162522315979 12.54371070861816 13.38707447052002 C 12.76836585998535 13.61162757873535 14.51692390441895 15.35939884185791 14.51692390441895 15.35939884185791 C 14.51692390441895 15.35939884185791 12.79457473754883 17.08097076416016 12.54371070861816 17.33172225952148 C 12.2928466796875 17.58247184753418 12.30407905578613 17.9417552947998 12.54371070861816 18.17753791809082 C 12.7833423614502 18.41706085205078 13.15776634216309 18.40957641601562 13.38990783691406 18.17753791809082 L 15.36312103271484 16.20521354675293 L 17.33633613586426 18.17753791809082 C 17.56847953796387 18.40957641601562 17.95039176940918 18.40957641601562 18.18253326416016 18.17753791809082 C 18.41842269897461 17.94549942016602 18.41842269897461 17.56376075744629 18.18253517150879 17.33172225952148 Z">
                </path>
            </svg>
            <svg class="Path_47_bkp" viewBox="3.375 3.375 14 14">
                <path id="Path_47_bkp" d="M 10.37500190734863 4.317307949066162 C 11.99375152587891 4.317307949066162 13.51490592956543 4.946634769439697 14.65913677215576 6.090866088867188 C 15.80336761474609 7.23509693145752 16.43269348144531 8.756250381469727 16.43269348144531 10.37500190734863 C 16.43269348144531 11.99375152587891 15.80336761474609 13.51490592956543 14.65913677215576 14.65913677215576 C 13.51490592956543 15.80336761474609 11.99375152587891 16.43269348144531 10.37500190734863 16.43269348144531 C 8.756250381469727 16.43269348144531 7.23509693145752 15.80336761474609 6.090866088867188 14.65913677215576 C 4.946634769439697 13.51490592956543 4.317307949066162 11.99375152587891 4.317307949066162 10.37500190734863 C 4.317307949066162 8.756251335144043 4.946634769439697 7.23509693145752 6.090866088867188 6.090866088867188 C 7.23509693145752 4.946634769439697 8.756250381469727 4.317307949066162 10.37500190734863 4.317307949066162 M 10.37500190734863 3.375000238418579 C 6.50817346572876 3.375000238418579 3.375000238418579 6.50817346572876 3.375000238418579 10.37500190734863 C 3.375000238418579 14.24182891845703 6.50817346572876 17.37500190734863 10.37500190734863 17.37500190734863 C 14.24182891845703 17.37500190734863 17.37500190734863 14.24182891845703 17.37500190734863 10.37500190734863 C 17.37500190734863 6.50817346572876 14.24182891845703 3.375000238418579 10.37500190734863 3.375000238418579 L 10.37500190734863 3.375000238418579 Z">
                </path>
            </svg>
        </div>
        <div id="n_9092020____0000_AM_bkq">
            <span>09/09/2020    00:00 AM</span>
        </div>
        <div id="n_9102020____0000_AM_bkr">
            <span>09/10/2020    00:00 AM</span>
        </div>
        <div onclick="application.goToTargetView(event)" id="Edit_this_campaign_bks">
            <span>Edit this campaign</span>
        </div>
        <div id="n__bkt">
            <span>1.</span>
        </div>
        <div id="n__bku">
            <span>2.</span>
        </div>
        <div id="Group_404_bkv">
            <div class="Rectangle_311_bkw">
                <rect id="Rectangle_311_bkw" rx="6" ry="6" x="0" y="0" width="1372" height="36">
                    @Html.EditorFor(model => model.typeCollection, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.typeCollection, "", new { @class = "text-danger" })
                </rect>
            </div>
            <svg class="Icon_feather-chevron-down_bkx" viewBox="9 13.5 11.39 4.5">
                <path id="Icon_feather-chevron-down_bkx" d="M 9 13.5 L 14.695068359375 18 L 20.39013671875 13.5">
                </path>
            </svg>
        </div>
        <div id="Type_bkz">
            <span>Type</span>
        </div>
        <svg class="Icon_awesome-check-square_bk" viewBox="0 2.25 16 16">
            <path id="Icon_awesome-check-square_bk" d="M 14.28571510314941 18.25000190734863 L 1.714285731315613 18.25000190734863 C 0.7675000429153442 18.25000190734863 0 17.48250007629395 0 16.53571510314941 L 0 3.964285850524902 C 0 3.017500162124634 0.7675000429153442 2.25 1.714285731315613 2.25 L 14.28571510314941 2.25 C 15.23250102996826 2.25 16 3.017500162124634 16 3.964285850524902 L 16 16.53571510314941 C 16 17.48250007629395 15.23250102996826 18.25000190734863 14.28571510314941 18.25000190734863 Z M 6.975500106811523 14.74789428710938 L 13.54692935943604 8.176465034484863 C 13.7700719833374 7.953321933746338 13.7700719833374 7.591500282287598 13.54692935943604 7.36835765838623 L 12.7388219833374 6.560250282287598 C 12.51567935943604 6.337106704711914 12.15385913848877 6.337070941925049 11.93067932128906 6.560250282287598 L 6.571428775787354 11.91946601867676 L 4.069321632385254 9.4173583984375 C 3.846179008483887 9.194215774536133 3.484357357025146 9.194215774536133 3.261178731918335 9.4173583984375 L 2.45307183265686 10.22546577453613 C 2.229928731918335 10.4486083984375 2.229928731918335 10.81042957305908 2.45307183265686 11.03357315063477 L 6.167357921600342 14.74785995483398 C 6.390536308288574 14.97107315063477 6.752322196960449 14.97107315063477 6.975500106811523 14.74789524078369 Z">
            </path>
        </svg>
        <div id="Product_bk">
            <span>Product</span>
        </div>
        <div id="Point_per_item_bk">
            <span>Point per item.</span>
        </div>
        <div id="n__bk">
            <span>1.</span>
        </div>
        <div id="Pepsi_Can_bk">
            <span>Pepsi Can</span>
        </div>
        <div id="Icon_ionic-ios-close-circle-ou_bk">
            <svg class="Path_46_bk" viewBox="12.359 12.354 6 6">
                <path id="Path_46_bk" d="M 18.18253517150879 17.33172225952148 L 16.20932197570801 15.35939884185791 L 18.18253517150879 13.38707447052002 C 18.41467666625977 13.15503692626953 18.41467666625977 12.77329730987549 18.18253517150879 12.54125785827637 C 17.95039176940918 12.30922031402588 17.56847953796387 12.30922031402588 17.33633613586426 12.54125785827637 L 15.36312484741211 14.51358222961426 L 13.38990783691406 12.54125785827637 C 13.15776634216309 12.30922031402588 12.80580711364746 12.27553749084473 12.54371070861816 12.54125785827637 C 12.27786827087402 12.80697917938232 12.31905555725098 13.162522315979 12.54371070861816 13.38707447052002 C 12.76836585998535 13.61162757873535 14.51692390441895 15.35939884185791 14.51692390441895 15.35939884185791 C 14.51692390441895 15.35939884185791 12.79457473754883 17.08097076416016 12.54371070861816 17.33172225952148 C 12.2928466796875 17.58247184753418 12.30407905578613 17.9417552947998 12.54371070861816 18.17753791809082 C 12.7833423614502 18.41706085205078 13.15776634216309 18.40957641601562 13.38990783691406 18.17753791809082 L 15.36312103271484 16.20521354675293 L 17.33633613586426 18.17753791809082 C 17.56847953796387 18.40957641601562 17.95039176940918 18.40957641601562 18.18253326416016 18.17753791809082 C 18.41842269897461 17.94549942016602 18.41842269897461 17.56376075744629 18.18253517150879 17.33172225952148 Z">
                </path>
            </svg>
            <svg class="Path_47_bk" viewBox="3.375 3.375 14 14">
                <path id="Path_47_bk" d="M 10.37500190734863 4.317307949066162 C 11.99375152587891 4.317307949066162 13.51490592956543 4.946634769439697 14.65913677215576 6.090866088867188 C 15.80336761474609 7.23509693145752 16.43269348144531 8.756250381469727 16.43269348144531 10.37500190734863 C 16.43269348144531 11.99375152587891 15.80336761474609 13.51490592956543 14.65913677215576 14.65913677215576 C 13.51490592956543 15.80336761474609 11.99375152587891 16.43269348144531 10.37500190734863 16.43269348144531 C 8.756250381469727 16.43269348144531 7.23509693145752 15.80336761474609 6.090866088867188 14.65913677215576 C 4.946634769439697 13.51490592956543 4.317307949066162 11.99375152587891 4.317307949066162 10.37500190734863 C 4.317307949066162 8.756251335144043 4.946634769439697 7.23509693145752 6.090866088867188 6.090866088867188 C 7.23509693145752 4.946634769439697 8.756250381469727 4.317307949066162 10.37500190734863 4.317307949066162 M 10.37500190734863 3.375000238418579 C 6.50817346572876 3.375000238418579 3.375000238418579 6.50817346572876 3.375000238418579 10.37500190734863 C 3.375000238418579 14.24182891845703 6.50817346572876 17.37500190734863 10.37500190734863 17.37500190734863 C 14.24182891845703 17.37500190734863 17.37500190734863 14.24182891845703 17.37500190734863 10.37500190734863 C 17.37500190734863 6.50817346572876 14.24182891845703 3.375000238418579 10.37500190734863 3.375000238418579 L 10.37500190734863 3.375000238418579 Z">
                </path>
            </svg>
        </div>
        <div onclick="application.goToTargetView(event)" id="Edit_product_bk">
            <span>Edit product</span>
        </div>
        <div id="Group_515_bk">
            <div id="Group_351_bla">
                <svg class="Rectangle_319_blb">
                    <rect id="Rectangle_319_blb" rx="6" ry="6" x="0" y="0" width="121" height="30">
                    </rect>
                </svg>
                <div id="Enter_quantity_blc">
                    <span>Enter quantity</span>
                </div>
            </div>
            <svg class="Icon_awesome-caret-up_bld" viewBox="0.794 12.891 9.85 5.117">
                <path id="Icon_awesome-caret-up_bld" d="M 9.980818748474121 18.00768661499023 L 1.458130359649658 18.00768661499023 C 0.8679901361465454 18.00768661499023 0.5724562406539917 17.35413551330566 0.9897409677505493 16.9719181060791 L 5.251085758209229 13.06868743896484 C 5.509756565093994 12.83175468444824 5.92919397354126 12.83175468444824 6.187864780426025 13.06868743896484 L 10.44920825958252 16.9719181060791 C 10.86652565002441 17.35413551330566 10.57095909118652 18.00768661499023 9.980818748474121 18.00768661499023 Z">
                </path>
            </svg>
            <svg class="Icon_awesome-caret-up_ble" viewBox="0 0 9.85 5.117">
                <path id="Icon_awesome-caret-up_ble" d="M 9.186416625976562 5.116698741912842 L 0.663728654384613 5.116698741912842 C 0.07358843088150024 5.116698741912842 -0.2219454646110535 4.463147640228271 0.1953392624855042 4.080930233001709 L 4.456684112548828 0.1776995658874512 C 4.715354919433594 -0.05923318862915039 5.134792327880859 -0.05923318862915039 5.393463134765625 0.1776995658874512 L 9.654806137084961 4.080930233001709 C 10.07212352752686 4.463147640228271 9.776556968688965 5.116698741912842 9.186416625976562 5.116698741912842 Z">
                </path>
            </svg>
        </div>
        <div id="Group_516_blf">
            <div id="Group_351_blg">
                <svg class="Path_48_blh" viewBox="0 0 133.322 30">
                    <path id="Path_48_blh" d="M 6.611021518707275 0 L 126.7112503051758 0 C 130.3624267578125 0 133.322265625 2.686291217803955 133.322265625 6 L 133.322265625 24 C 133.322265625 27.3137092590332 130.3624267578125 30 126.7112503051758 30 L 6.611021518707275 30 C 2.9598548412323 30 0 27.3137092590332 0 24 L 0 6 C 0 2.686291217803955 2.9598548412323 0 6.611021518707275 0 Z">
                    </path>
                </svg>
                <div id="Enter_redemption_bli">
                    <span>Enter redemption</span>
                </div>
            </div>
            <svg class="Icon_awesome-caret-up_blj" viewBox="0.794 12.891 9.85 5.117">
                <path id="Icon_awesome-caret-up_blj" d="M 9.980818748474121 18.00768661499023 L 1.458130359649658 18.00768661499023 C 0.8679901361465454 18.00768661499023 0.5724562406539917 17.35413551330566 0.9897409677505493 16.9719181060791 L 5.251085758209229 13.06868743896484 C 5.509756565093994 12.83175468444824 5.92919397354126 12.83175468444824 6.187864780426025 13.06868743896484 L 10.44920825958252 16.9719181060791 C 10.86652565002441 17.35413551330566 10.57095909118652 18.00768661499023 9.980818748474121 18.00768661499023 Z">
                </path>
            </svg>
            <svg class="Icon_awesome-caret-up_blk" viewBox="0 0 9.85 5.117">
                <path id="Icon_awesome-caret-up_blk" d="M 9.186416625976562 5.116698741912842 L 0.663728654384613 5.116698741912842 C 0.07358843088150024 5.116698741912842 -0.2219454646110535 4.463147640228271 0.1953392624855042 4.080930233001709 L 4.456684112548828 0.1776995658874512 C 4.715354919433594 -0.05923318862915039 5.134792327880859 -0.05923318862915039 5.393463134765625 0.1776995658874512 L 9.654806137084961 4.080930233001709 C 10.07212352752686 4.463147640228271 9.776556968688965 5.116698741912842 9.186416625976562 5.116698741912842 Z">
                </path>
            </svg>
        </div>
        <div id="Cans_bll">
            <span>Cans</span>
        </div>
        <div id="Point_per_item_blm">
            <span>Point per item.</span>
        </div>
        <div id="n__bln">
            <span>2.</span>
        </div>
        <div id="Pepsi_Can_blo">
            <span>Pepsi Can</span>
        </div>
        <div id="Icon_ionic-ios-close-circle-ou_blp">
            <svg class="Path_46_blq" viewBox="12.359 12.354 6 6">
                <path id="Path_46_blq" d="M 18.18253517150879 17.33172225952148 L 16.20932197570801 15.35939884185791 L 18.18253517150879 13.38707447052002 C 18.41467666625977 13.15503692626953 18.41467666625977 12.77329730987549 18.18253517150879 12.54125785827637 C 17.95039176940918 12.30922031402588 17.56847953796387 12.30922031402588 17.33633613586426 12.54125785827637 L 15.36312484741211 14.51358222961426 L 13.38990783691406 12.54125785827637 C 13.15776634216309 12.30922031402588 12.80580711364746 12.27553749084473 12.54371070861816 12.54125785827637 C 12.27786827087402 12.80697917938232 12.31905555725098 13.162522315979 12.54371070861816 13.38707447052002 C 12.76836585998535 13.61162757873535 14.51692390441895 15.35939884185791 14.51692390441895 15.35939884185791 C 14.51692390441895 15.35939884185791 12.79457473754883 17.08097076416016 12.54371070861816 17.33172225952148 C 12.2928466796875 17.58247184753418 12.30407905578613 17.9417552947998 12.54371070861816 18.17753791809082 C 12.7833423614502 18.41706085205078 13.15776634216309 18.40957641601562 13.38990783691406 18.17753791809082 L 15.36312103271484 16.20521354675293 L 17.33633613586426 18.17753791809082 C 17.56847953796387 18.40957641601562 17.95039176940918 18.40957641601562 18.18253326416016 18.17753791809082 C 18.41842269897461 17.94549942016602 18.41842269897461 17.56376075744629 18.18253517150879 17.33172225952148 Z">
                </path>
            </svg>
            <svg class="Path_47_blr" viewBox="3.375 3.375 14 14">
                <path id="Path_47_blr" d="M 10.37500190734863 4.317307949066162 C 11.99375152587891 4.317307949066162 13.51490592956543 4.946634769439697 14.65913677215576 6.090866088867188 C 15.80336761474609 7.23509693145752 16.43269348144531 8.756250381469727 16.43269348144531 10.37500190734863 C 16.43269348144531 11.99375152587891 15.80336761474609 13.51490592956543 14.65913677215576 14.65913677215576 C 13.51490592956543 15.80336761474609 11.99375152587891 16.43269348144531 10.37500190734863 16.43269348144531 C 8.756250381469727 16.43269348144531 7.23509693145752 15.80336761474609 6.090866088867188 14.65913677215576 C 4.946634769439697 13.51490592956543 4.317307949066162 11.99375152587891 4.317307949066162 10.37500190734863 C 4.317307949066162 8.756251335144043 4.946634769439697 7.23509693145752 6.090866088867188 6.090866088867188 C 7.23509693145752 4.946634769439697 8.756250381469727 4.317307949066162 10.37500190734863 4.317307949066162 M 10.37500190734863 3.375000238418579 C 6.50817346572876 3.375000238418579 3.375000238418579 6.50817346572876 3.375000238418579 10.37500190734863 C 3.375000238418579 14.24182891845703 6.50817346572876 17.37500190734863 10.37500190734863 17.37500190734863 C 14.24182891845703 17.37500190734863 17.37500190734863 14.24182891845703 17.37500190734863 10.37500190734863 C 17.37500190734863 6.50817346572876 14.24182891845703 3.375000238418579 10.37500190734863 3.375000238418579 L 10.37500190734863 3.375000238418579 Z">
                </path>
            </svg>
        </div>
        <div onclick="application.goToTargetView(event)" id="Edit_product_bls">
            <span>Edit product</span>
        </div>
        <div id="Group_528_blt">
            <div id="Group_351_blu">
                <svg class="Rectangle_319_blv">
                    <rect id="Rectangle_319_blv" rx="6" ry="6" x="0" y="0" width="121" height="30">
                    </rect>
                </svg>
                <div id="n_23_blw">
                    <span>123</span>
                </div>
            </div>
            <svg class="Icon_awesome-caret-up_blx" viewBox="0.794 12.891 9.85 5.117">
                <path id="Icon_awesome-caret-up_blx" d="M 9.980818748474121 18.00768661499023 L 1.458130359649658 18.00768661499023 C 0.8679901361465454 18.00768661499023 0.5724562406539917 17.35413551330566 0.9897409677505493 16.9719181060791 L 5.251085758209229 13.06868743896484 C 5.509756565093994 12.83175468444824 5.92919397354126 12.83175468444824 6.187864780426025 13.06868743896484 L 10.44920825958252 16.9719181060791 C 10.86652565002441 17.35413551330566 10.57095909118652 18.00768661499023 9.980818748474121 18.00768661499023 Z">
                </path>
            </svg>
            <svg class="Icon_awesome-caret-up_bly" viewBox="0 0 9.85 5.117">
                <path id="Icon_awesome-caret-up_bly" d="M 9.186416625976562 5.116698741912842 L 0.663728654384613 5.116698741912842 C 0.07358843088150024 5.116698741912842 -0.2219454646110535 4.463147640228271 0.1953392624855042 4.080930233001709 L 4.456684112548828 0.1776995658874512 C 4.715354919433594 -0.05923318862915039 5.134792327880859 -0.05923318862915039 5.393463134765625 0.1776995658874512 L 9.654806137084961 4.080930233001709 C 10.07212352752686 4.463147640228271 9.776556968688965 5.116698741912842 9.186416625976562 5.116698741912842 Z">
                </path>
            </svg>
        </div>
        <div id="Group_529_blz">
            <div id="Group_351_bl">
                <svg class="Rectangle_319_bl">
                    <rect id="Rectangle_319_bl" rx="6" ry="6" x="0" y="0" width="133" height="30">
                    </rect>
                </svg>
                <div id="n_23_bl">
                    <span>123</span>
                </div>
            </div>
            <svg class="Icon_awesome-caret-up_bl" viewBox="0.794 12.891 9.85 5.117">
                <path id="Icon_awesome-caret-up_bl" d="M 9.980818748474121 18.00768661499023 L 1.458130359649658 18.00768661499023 C 0.8679901361465454 18.00768661499023 0.5724562406539917 17.35413551330566 0.9897409677505493 16.9719181060791 L 5.251085758209229 13.06868743896484 C 5.509756565093994 12.83175468444824 5.92919397354126 12.83175468444824 6.187864780426025 13.06868743896484 L 10.44920825958252 16.9719181060791 C 10.86652565002441 17.35413551330566 10.57095909118652 18.00768661499023 9.980818748474121 18.00768661499023 Z">
                </path>
            </svg>
            <svg class="Icon_awesome-caret-up_bma" viewBox="0 0 9.85 5.117">
                <path id="Icon_awesome-caret-up_bma" d="M 9.186416625976562 5.116698741912842 L 0.663728654384613 5.116698741912842 C 0.07358843088150024 5.116698741912842 -0.2219454646110535 4.463147640228271 0.1953392624855042 4.080930233001709 L 4.456684112548828 0.1776995658874512 C 4.715354919433594 -0.05923318862915039 5.134792327880859 -0.05923318862915039 5.393463134765625 0.1776995658874512 L 9.654806137084961 4.080930233001709 C 10.07212352752686 4.463147640228271 9.776556968688965 5.116698741912842 9.186416625976562 5.116698741912842 Z">
                </path>
            </svg>
        </div>
        <div id="Cans_bl">
            <span>Cans</span>
        </div>
        <div id="Group_532_bl">
            <div id="Group_524_bl">
                <svg class="Rectangle_352_bl">
                    <rect id="Rectangle_352_bl" rx="6" ry="6" x="0" y="0" width="136" height="31">
                    </rect>
                </svg>
                <div id="Add_Product_bl">
                    <span>Add Product</span>
                </div>
            </div>
            <div id="Icon_ionic-ios-add-circle-outl_bma">
                <svg class="Path_49_bmb" viewBox="10.512 10.512 8.5 8.5">
                    <path id="Path_49_bmb" d="M 18.37322044372559 14.12321853637695 L 15.40021514892578 14.12321853637695 L 15.40021514892578 11.15021705627441 C 15.40021514892578 10.79904365539551 15.11289215087891 10.51171875 14.76171875 10.51171875 C 14.41054534912109 10.51171875 14.12321853637695 10.79904365539551 14.12321853637695 11.15021705627441 L 14.12321853637695 14.12321853637695 L 11.15021705627441 14.12321853637695 C 10.79904365539551 14.12321853637695 10.51171875 14.36265754699707 10.51171875 14.76171875 C 10.51171875 15.1607780456543 10.81101417541504 15.40021514892578 11.15021705627441 15.40021514892578 C 11.48941993713379 15.40021514892578 14.12321853637695 15.40021514892578 14.12321853637695 15.40021514892578 C 14.12321853637695 15.40021514892578 14.12321853637695 17.99411392211914 14.12321853637695 18.37322044372559 C 14.12321853637695 18.7523307800293 14.40256309509277 19.01171875 14.76171875 19.01171875 C 15.12087249755859 19.01171875 15.40021514892578 18.72439384460449 15.40021514892578 18.37322044372559 L 15.40021514892578 15.40021514892578 L 18.37322044372559 15.40021514892578 C 18.72439384460449 15.40021514892578 19.01171875 15.11289215087891 19.01171875 14.76171875 C 19.01171875 14.41054534912109 18.72439384460449 14.12321853637695 18.37322044372559 14.12321853637695 Z">
                    </path>
                </svg>
                <svg class="Path_50_bmc" viewBox="3.375 3.375 20 20">
                    <path id="Path_50_bmc" d="M 13.375 4.72115421295166 C 15.6875 4.72115421295166 17.8605785369873 5.620192527770996 19.49519348144531 7.25480842590332 C 21.12980842590332 8.889423370361328 22.02884674072266 11.0625 22.02884674072266 13.375 C 22.02884674072266 15.6875 21.12980842590332 17.8605785369873 19.49519348144531 19.49519348144531 C 17.8605785369873 21.12980842590332 15.6875 22.02884674072266 13.375 22.02884674072266 C 11.0625 22.02884674072266 8.889423370361328 21.12980842590332 7.25480842590332 19.49519348144531 C 5.620192527770996 17.8605785369873 4.72115421295166 15.6875 4.72115421295166 13.375 C 4.72115421295166 11.06250095367432 5.620192527770996 8.889423370361328 7.25480842590332 7.25480842590332 C 8.889423370361328 5.620192527770996 11.0625 4.72115421295166 13.375 4.72115421295166 M 13.375 3.375 C 7.850961685180664 3.375 3.375 7.850961685180664 3.375 13.375 C 3.375 18.89904022216797 7.850961685180664 23.37500190734863 13.375 23.37500190734863 C 18.89904022216797 23.37500190734863 23.37500190734863 18.89904022216797 23.37500190734863 13.375 C 23.37500190734863 7.850961685180664 18.89904022216797 3.375 13.375 3.375 L 13.375 3.375 Z">
                    </path>
                </svg>
            </div>
        </div>
        <svg class="Line_137_bmd" viewBox="0 0 1318 0.5">
            <path id="Line_137_bmd" d="M 0 0 L 1318 0">
            </path>
        </svg>
        <div id="Group_547_bme">
            <div id="Group_524_bmf">
                <svg class="Rectangle_352_bmg">
                    <rect id="Rectangle_352_bmg" rx="6" ry="6" x="0" y="0" width="136" height="31">
                    </rect>
                </svg>
                <div id="Add_campaign_bmh">
                    <span>Add campaign</span>
                </div>
            </div>
            <div id="Icon_ionic-ios-add-circle-outl_bmi">
                <svg class="Path_49_bmj" viewBox="10.512 10.512 8.5 8.5">
                    <path id="Path_49_bmj" d="M 18.37322044372559 14.12321853637695 L 15.40021514892578 14.12321853637695 L 15.40021514892578 11.15021705627441 C 15.40021514892578 10.79904365539551 15.11289215087891 10.51171875 14.76171875 10.51171875 C 14.41054534912109 10.51171875 14.12321853637695 10.79904365539551 14.12321853637695 11.15021705627441 L 14.12321853637695 14.12321853637695 L 11.15021705627441 14.12321853637695 C 10.79904365539551 14.12321853637695 10.51171875 14.36265754699707 10.51171875 14.76171875 C 10.51171875 15.1607780456543 10.81101417541504 15.40021514892578 11.15021705627441 15.40021514892578 C 11.48941993713379 15.40021514892578 14.12321853637695 15.40021514892578 14.12321853637695 15.40021514892578 C 14.12321853637695 15.40021514892578 14.12321853637695 17.99411392211914 14.12321853637695 18.37322044372559 C 14.12321853637695 18.7523307800293 14.40256309509277 19.01171875 14.76171875 19.01171875 C 15.12087249755859 19.01171875 15.40021514892578 18.72439384460449 15.40021514892578 18.37322044372559 L 15.40021514892578 15.40021514892578 L 18.37322044372559 15.40021514892578 C 18.72439384460449 15.40021514892578 19.01171875 15.11289215087891 19.01171875 14.76171875 C 19.01171875 14.41054534912109 18.72439384460449 14.12321853637695 18.37322044372559 14.12321853637695 Z">
                    </path>
                </svg>
                <svg class="Path_50_bmk" viewBox="3.375 3.375 20 20">
                    <path id="Path_50_bmk" d="M 13.375 4.72115421295166 C 15.6875 4.72115421295166 17.8605785369873 5.620192527770996 19.49519348144531 7.25480842590332 C 21.12980842590332 8.889423370361328 22.02884674072266 11.0625 22.02884674072266 13.375 C 22.02884674072266 15.6875 21.12980842590332 17.8605785369873 19.49519348144531 19.49519348144531 C 17.8605785369873 21.12980842590332 15.6875 22.02884674072266 13.375 22.02884674072266 C 11.0625 22.02884674072266 8.889423370361328 21.12980842590332 7.25480842590332 19.49519348144531 C 5.620192527770996 17.8605785369873 4.72115421295166 15.6875 4.72115421295166 13.375 C 4.72115421295166 11.06250095367432 5.620192527770996 8.889423370361328 7.25480842590332 7.25480842590332 C 8.889423370361328 5.620192527770996 11.0625 4.72115421295166 13.375 4.72115421295166 M 13.375 3.375 C 7.850961685180664 3.375 3.375 7.850961685180664 3.375 13.375 C 3.375 18.89904022216797 7.850961685180664 23.37500190734863 13.375 23.37500190734863 C 18.89904022216797 23.37500190734863 23.37500190734863 18.89904022216797 23.37500190734863 13.375 C 23.37500190734863 7.850961685180664 18.89904022216797 3.375 13.375 3.375 L 13.375 3.375 Z">
                    </path>
                </svg>
            </div>
        </div>
        <div id="Campaign_bml">
            <span>Campaign</span>
        </div>
        <div id="Group_495_bmm">
            <svg class="Rectangle_298_bmn">
                <rect id="Rectangle_298_bmn" rx="0" ry="0" x="0" y="0" width="241" height="45">
                </rect>
            </svg>
            <svg class="Rectangle_299_bmo">
                <rect id="Rectangle_299_bmo" rx="0" ry="0" x="0" y="0" width="4" height="45">
                </rect>
            </svg>
        </div>
    </div>
}