@model Loyalty.Models.Campaign

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link href="~/Areas/Admin/Public/css/Campagin/createStyle.css" rel="stylesheet" />
<style>
    .datepicker {
        border: 2px solid #dee2e6;
        border-radius: 5px;
        width: 135px;
        height: 35px;
        font-size: 15px;
    }

    .timepicker {
        border: 2px solid #dee2e6;
        border-radius: 5px;
        width: 105px;
        height: 35px;
        font-size: 15px;
    }

    .selGMT {
        border: 2px solid #dee2e6;
        border-radius: 5px;
        width: 100px;
        height: 35px;
        font-size: 15px;
    }
</style>

@using (Html.BeginForm("Create", "Campaign", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div id="n_2_Add_Promotion">
        <svg class="Rectangle_355">
            <rect id="Rectangle_355" rx="0" ry="0" x="0" y="0" width="454" height="389">
            </rect>
        </svg>
        <div id="Group_373_f">
            <div id="Promotion_g">
                <span>Promotion</span>
            </div>
            <div id="n___Add_new_Campaign">
                <span>>   Add new Campaign</span>
            </div>
        </div>
        <div id="Group_495_j">
            <svg class="Rectangle_298_k">
                <rect id="Rectangle_298_k" rx="0" ry="0" x="0" y="0" width="241" height="45">
                </rect>
            </svg>
            <svg class="Rectangle_299_l">
                <rect id="Rectangle_299_l" rx="0" ry="0" x="0" y="0" width="4" height="45">
                </rect>
            </svg>
        </div>
        <svg class="Rectangle_337_m">
            <rect id="Rectangle_337_m" rx="6" ry="6" x="0" y="0" width="1063" height="778">
            </rect>
        </svg>
        <div id="New_Campaign">
            <span>New Campaign</span>
        </div>
        <div id="Group_413">
            <div class="Rectangle_334_p">
                <rect id="Rectangle_334_p" rx="6" ry="6" x="0" y="0" width="983" height="36">
                    @Html.EditorFor(model => model.campaignName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.campaignName, "", new { @class = "text-danger" })
                </rect>
            </div>
        </div>
        <svg class="Line_123_r" viewBox="0 0 983 0.5">
            <path id="Line_123_r" d="M 0 0 L 983 0">
            </path>
        </svg>
        <div id="Campaign_Name">
            <span>Campaign Name</span>
        </div>
        <div id="Point_per_item">
            <span>Point per item.</span>
        </div>
        <div id="Store_v">
            <span>Store</span>
        </div>
        <div id="n__v">
            <span>1.</span>
        </div>
        <div id="n__w">
            <span>2.</span>
        </div>
        <svg class="Line_132" viewBox="0 0 983 0.5">
            <path id="Line_132" d="M 0 0 L 983 0">
            </path>
        </svg>
        <div id="Remove_y">
            <span>Remove</span>
        </div>
        <div id="Circle_K_-_Au_Co_z">
            <span>Circle K - Au Co</span>
        </div>
        <div id="Icon_ionic-ios-close-circle-ou_">
            <svg class="Path_46_" viewBox="12.359 12.354 6 6">
                <path id="Path_46_" d="M 18.18253517150879 17.33172225952148 L 16.20932197570801 15.35939884185791 L 18.18253517150879 13.38707447052002 C 18.41467666625977 13.15503692626953 18.41467666625977 12.77329730987549 18.18253517150879 12.54125785827637 C 17.95039176940918 12.30922031402588 17.56847953796387 12.30922031402588 17.33633613586426 12.54125785827637 L 15.36312484741211 14.51358222961426 L 13.38990783691406 12.54125785827637 C 13.15776634216309 12.30922031402588 12.80580711364746 12.27553749084473 12.54371070861816 12.54125785827637 C 12.27786827087402 12.80697917938232 12.31905555725098 13.162522315979 12.54371070861816 13.38707447052002 C 12.76836585998535 13.61162757873535 14.51692390441895 15.35939884185791 14.51692390441895 15.35939884185791 C 14.51692390441895 15.35939884185791 12.79457473754883 17.08097076416016 12.54371070861816 17.33172225952148 C 12.2928466796875 17.58247184753418 12.30407905578613 17.9417552947998 12.54371070861816 18.17753791809082 C 12.7833423614502 18.41706085205078 13.15776634216309 18.40957641601562 13.38990783691406 18.17753791809082 L 15.36312103271484 16.20521354675293 L 17.33633613586426 18.17753791809082 C 17.56847953796387 18.40957641601562 17.95039176940918 18.40957641601562 18.18253326416016 18.17753791809082 C 18.41842269897461 17.94549942016602 18.41842269897461 17.56376075744629 18.18253517150879 17.33172225952148 Z">
                </path>
            </svg>
            <svg class="Path_47_" viewBox="3.375 3.375 14 14">
                <path id="Path_47_" d="M 10.37500190734863 4.317307949066162 C 11.99375152587891 4.317307949066162 13.51490592956543 4.946634769439697 14.65913677215576 6.090866088867188 C 15.80336761474609 7.23509693145752 16.43269348144531 8.756250381469727 16.43269348144531 10.37500190734863 C 16.43269348144531 11.99375152587891 15.80336761474609 13.51490592956543 14.65913677215576 14.65913677215576 C 13.51490592956543 15.80336761474609 11.99375152587891 16.43269348144531 10.37500190734863 16.43269348144531 C 8.756250381469727 16.43269348144531 7.23509693145752 15.80336761474609 6.090866088867188 14.65913677215576 C 4.946634769439697 13.51490592956543 4.317307949066162 11.99375152587891 4.317307949066162 10.37500190734863 C 4.317307949066162 8.756251335144043 4.946634769439697 7.23509693145752 6.090866088867188 6.090866088867188 C 7.23509693145752 4.946634769439697 8.756250381469727 4.317307949066162 10.37500190734863 4.317307949066162 M 10.37500190734863 3.375000238418579 C 6.50817346572876 3.375000238418579 3.375000238418579 6.50817346572876 3.375000238418579 10.37500190734863 C 3.375000238418579 14.24182891845703 6.50817346572876 17.37500190734863 10.37500190734863 17.37500190734863 C 14.24182891845703 17.37500190734863 17.37500190734863 14.24182891845703 17.37500190734863 10.37500190734863 C 17.37500190734863 6.50817346572876 14.24182891845703 3.375000238418579 10.37500190734863 3.375000238418579 L 10.37500190734863 3.375000238418579 Z">
                </path>
            </svg>
        </div>
        <div id="n_633_Au_Co_Ward_9_Tan_Binh_di">
            <span>86/33 Au Co, Ward 9, Tan Binh district, HCMC</span>
        </div>
        <div id="Edit_this_store">
            <span>Edit this store</span>
        </div>
        <div id="Circle_K_-_Au_Co_">
            <span>Circle K - Au Co</span>
        </div>
        <div id="Icon_ionic-ios-close-circle-ou_a">
            <svg class="Path_46_a" viewBox="12.359 12.354 6 6">
                <path id="Path_46_a" d="M 18.18253517150879 17.33172225952148 L 16.20932197570801 15.35939884185791 L 18.18253517150879 13.38707447052002 C 18.41467666625977 13.15503692626953 18.41467666625977 12.77329730987549 18.18253517150879 12.54125785827637 C 17.95039176940918 12.30922031402588 17.56847953796387 12.30922031402588 17.33633613586426 12.54125785827637 L 15.36312484741211 14.51358222961426 L 13.38990783691406 12.54125785827637 C 13.15776634216309 12.30922031402588 12.80580711364746 12.27553749084473 12.54371070861816 12.54125785827637 C 12.27786827087402 12.80697917938232 12.31905555725098 13.162522315979 12.54371070861816 13.38707447052002 C 12.76836585998535 13.61162757873535 14.51692390441895 15.35939884185791 14.51692390441895 15.35939884185791 C 14.51692390441895 15.35939884185791 12.79457473754883 17.08097076416016 12.54371070861816 17.33172225952148 C 12.2928466796875 17.58247184753418 12.30407905578613 17.9417552947998 12.54371070861816 18.17753791809082 C 12.7833423614502 18.41706085205078 13.15776634216309 18.40957641601562 13.38990783691406 18.17753791809082 L 15.36312103271484 16.20521354675293 L 17.33633613586426 18.17753791809082 C 17.56847953796387 18.40957641601562 17.95039176940918 18.40957641601562 18.18253326416016 18.17753791809082 C 18.41842269897461 17.94549942016602 18.41842269897461 17.56376075744629 18.18253517150879 17.33172225952148 Z">
                </path>
            </svg>
            <svg class="Path_47_a" viewBox="3.375 3.375 14 14">
                <path id="Path_47_a" d="M 10.37500190734863 4.317307949066162 C 11.99375152587891 4.317307949066162 13.51490592956543 4.946634769439697 14.65913677215576 6.090866088867188 C 15.80336761474609 7.23509693145752 16.43269348144531 8.756250381469727 16.43269348144531 10.37500190734863 C 16.43269348144531 11.99375152587891 15.80336761474609 13.51490592956543 14.65913677215576 14.65913677215576 C 13.51490592956543 15.80336761474609 11.99375152587891 16.43269348144531 10.37500190734863 16.43269348144531 C 8.756250381469727 16.43269348144531 7.23509693145752 15.80336761474609 6.090866088867188 14.65913677215576 C 4.946634769439697 13.51490592956543 4.317307949066162 11.99375152587891 4.317307949066162 10.37500190734863 C 4.317307949066162 8.756251335144043 4.946634769439697 7.23509693145752 6.090866088867188 6.090866088867188 C 7.23509693145752 4.946634769439697 8.756250381469727 4.317307949066162 10.37500190734863 4.317307949066162 M 10.37500190734863 3.375000238418579 C 6.50817346572876 3.375000238418579 3.375000238418579 6.50817346572876 3.375000238418579 10.37500190734863 C 3.375000238418579 14.24182891845703 6.50817346572876 17.37500190734863 10.37500190734863 17.37500190734863 C 14.24182891845703 17.37500190734863 17.37500190734863 14.24182891845703 17.37500190734863 10.37500190734863 C 17.37500190734863 6.50817346572876 14.24182891845703 3.375000238418579 10.37500190734863 3.375000238418579 L 10.37500190734863 3.375000238418579 Z">
                </path>
            </svg>
        </div>
        <div id="n_633_Au_Co_Ward_9_Tan_Binh_di_">
            <span>86/33 Au Co, Ward 9, Tan Binh district, HCMC</span>
        </div>
        <div onclick="application.goToTargetView(event)" id="Edit_this_store_a">
            <span>Edit this store</span>
        </div>
        <div id="n__b">
            <span>1.</span>
        </div>
        <svg class="Line_133" viewBox="0 0 983 0.5">
            <path id="Line_133" d="M 0 0 L 983 0">
            </path>
        </svg>
        <div id="Pepsi_Can_d">
            <span>Pepsi Can</span>
        </div>
        <div id="Icon_ionic-ios-close-circle-ou_e">
            <svg class="Path_46_f" viewBox="12.359 12.354 6 6">
                <path id="Path_46_f" d="M 18.18253517150879 17.33172225952148 L 16.20932197570801 15.35939884185791 L 18.18253517150879 13.38707447052002 C 18.41467666625977 13.15503692626953 18.41467666625977 12.77329730987549 18.18253517150879 12.54125785827637 C 17.95039176940918 12.30922031402588 17.56847953796387 12.30922031402588 17.33633613586426 12.54125785827637 L 15.36312484741211 14.51358222961426 L 13.38990783691406 12.54125785827637 C 13.15776634216309 12.30922031402588 12.80580711364746 12.27553749084473 12.54371070861816 12.54125785827637 C 12.27786827087402 12.80697917938232 12.31905555725098 13.162522315979 12.54371070861816 13.38707447052002 C 12.76836585998535 13.61162757873535 14.51692390441895 15.35939884185791 14.51692390441895 15.35939884185791 C 14.51692390441895 15.35939884185791 12.79457473754883 17.08097076416016 12.54371070861816 17.33172225952148 C 12.2928466796875 17.58247184753418 12.30407905578613 17.9417552947998 12.54371070861816 18.17753791809082 C 12.7833423614502 18.41706085205078 13.15776634216309 18.40957641601562 13.38990783691406 18.17753791809082 L 15.36312103271484 16.20521354675293 L 17.33633613586426 18.17753791809082 C 17.56847953796387 18.40957641601562 17.95039176940918 18.40957641601562 18.18253326416016 18.17753791809082 C 18.41842269897461 17.94549942016602 18.41842269897461 17.56376075744629 18.18253517150879 17.33172225952148 Z">
                </path>
            </svg>
            <svg class="Path_47_g" viewBox="3.375 3.375 14 14">
                <path id="Path_47_g" d="M 10.37500190734863 4.317307949066162 C 11.99375152587891 4.317307949066162 13.51490592956543 4.946634769439697 14.65913677215576 6.090866088867188 C 15.80336761474609 7.23509693145752 16.43269348144531 8.756250381469727 16.43269348144531 10.37500190734863 C 16.43269348144531 11.99375152587891 15.80336761474609 13.51490592956543 14.65913677215576 14.65913677215576 C 13.51490592956543 15.80336761474609 11.99375152587891 16.43269348144531 10.37500190734863 16.43269348144531 C 8.756250381469727 16.43269348144531 7.23509693145752 15.80336761474609 6.090866088867188 14.65913677215576 C 4.946634769439697 13.51490592956543 4.317307949066162 11.99375152587891 4.317307949066162 10.37500190734863 C 4.317307949066162 8.756251335144043 4.946634769439697 7.23509693145752 6.090866088867188 6.090866088867188 C 7.23509693145752 4.946634769439697 8.756250381469727 4.317307949066162 10.37500190734863 4.317307949066162 M 10.37500190734863 3.375000238418579 C 6.50817346572876 3.375000238418579 3.375000238418579 6.50817346572876 3.375000238418579 10.37500190734863 C 3.375000238418579 14.24182891845703 6.50817346572876 17.37500190734863 10.37500190734863 17.37500190734863 C 14.24182891845703 17.37500190734863 17.37500190734863 14.24182891845703 17.37500190734863 10.37500190734863 C 17.37500190734863 6.50817346572876 14.24182891845703 3.375000238418579 10.37500190734863 3.375000238418579 L 10.37500190734863 3.375000238418579 Z">
                </path>
            </svg>
        </div>
        <div id="Edit_product">
            <span>Edit product</span>
        </div>
        <div id="Group_515">
            <div id="Group_351">
                <svg class="Rectangle_319">
                    <rect id="Rectangle_319" rx="6" ry="6" x="0" y="0" width="121" height="30">
                    </rect>
                </svg>
                <div id="Enter_quantity">
                    <span>Enter quantity</span>
                </div>
            </div>
            <svg class="Icon_awesome-caret-up" viewBox="0.794 12.891 9.85 5.117">
                <path id="Icon_awesome-caret-up" d="M 9.980818748474121 18.00768661499023 L 1.458130359649658 18.00768661499023 C 0.8679901361465454 18.00768661499023 0.5724562406539917 17.35413551330566 0.9897409677505493 16.9719181060791 L 5.251085758209229 13.06868743896484 C 5.509756565093994 12.83175468444824 5.92919397354126 12.83175468444824 6.187864780426025 13.06868743896484 L 10.44920825958252 16.9719181060791 C 10.86652565002441 17.35413551330566 10.57095909118652 18.00768661499023 9.980818748474121 18.00768661499023 Z">
                </path>
            </svg>
            <svg class="Icon_awesome-caret-up_n" viewBox="0 0 9.85 5.117">
                <path id="Icon_awesome-caret-up_n" d="M 9.186416625976562 5.116698741912842 L 0.663728654384613 5.116698741912842 C 0.07358843088150024 5.116698741912842 -0.2219454646110535 4.463147640228271 0.1953392624855042 4.080930233001709 L 4.456684112548828 0.1776995658874512 C 4.715354919433594 -0.05923318862915039 5.134792327880859 -0.05923318862915039 5.393463134765625 0.1776995658874512 L 9.654806137084961 4.080930233001709 C 10.07212352752686 4.463147640228271 9.776556968688965 5.116698741912842 9.186416625976562 5.116698741912842 Z">
                </path>
            </svg>
        </div>
        <div id="Group_516">
            <div id="Group_351_p">
                <svg class="Path_48" viewBox="0 0 133.151 30">
                    <path id="Path_48" d="M 6.602513790130615 0 L 126.5481872558594 0 C 130.1946563720703 0 133.1506958007812 2.686291217803955 133.1506958007812 6 L 133.1506958007812 24 C 133.1506958007812 27.3137092590332 130.1946563720703 30 126.5481872558594 30 L 6.602513790130615 30 C 2.956045866012573 30 0 27.3137092590332 0 24 L 0 6 C 0 2.686291217803955 2.956045866012573 0 6.602513790130615 0 Z">
                    </path>
                </svg>
                <div id="Enter_redemption">
                    <span>Enter redemption</span>
                </div>
            </div>
            <svg class="Icon_awesome-caret-up_s" viewBox="0.794 12.891 9.85 5.117">
                <path id="Icon_awesome-caret-up_s" d="M 9.980818748474121 18.00768661499023 L 1.458130359649658 18.00768661499023 C 0.8679901361465454 18.00768661499023 0.5724562406539917 17.35413551330566 0.9897409677505493 16.9719181060791 L 5.251085758209229 13.06868743896484 C 5.509756565093994 12.83175468444824 5.92919397354126 12.83175468444824 6.187864780426025 13.06868743896484 L 10.44920825958252 16.9719181060791 C 10.86652565002441 17.35413551330566 10.57095909118652 18.00768661499023 9.980818748474121 18.00768661499023 Z">
                </path>
            </svg>
            <svg class="Icon_awesome-caret-up_t" viewBox="0 0 9.85 5.117">
                <path id="Icon_awesome-caret-up_t" d="M 9.186416625976562 5.116698741912842 L 0.663728654384613 5.116698741912842 C 0.07358843088150024 5.116698741912842 -0.2219454646110535 4.463147640228271 0.1953392624855042 4.080930233001709 L 4.456684112548828 0.1776995658874512 C 4.715354919433594 -0.05923318862915039 5.134792327880859 -0.05923318862915039 5.393463134765625 0.1776995658874512 L 9.654806137084961 4.080930233001709 C 10.07212352752686 4.463147640228271 9.776556968688965 5.116698741912842 9.186416625976562 5.116698741912842 Z">
                </path>
            </svg>
        </div>
        <div id="Cans">
            <span>Cans</span>
        </div>
        <div id="n_v_tnh_t_ng_cp_nht_theo_sn_ph">
            <span>Đơn vị tính tự động<br />cập nhật theo sản phẩm</span>
        </div>
        <div id="Group_404_w">
            <div class="Rectangle_311_x">
                <rect id="Rectangle_311_x" rx="6" ry="6" x="0" y="0" width="983" height="36">
                    @Html.EditorFor(model => model.typeCampagin, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.typeCampagin, "", new { @class = "text-danger" })
                </rect>
            </div>
            <svg class="Icon_feather-chevron-down_z" viewBox="9 13.5 11.39 4.5">
                <path id="Icon_feather-chevron-down_z" d="M 9 13.5 L 14.695068359375 18 L 20.39013671875 13.5">
                </path>
            </svg>
        </div>
        <div id="Type_">
            <span>Type</span>
        </div>
        <div id="Group_520">
            <div id="Group_519">
                <svg class="Rectangle_338">
                    <rect id="Rectangle_338" rx="6" ry="6" x="0" y="0" width="372" height="261">
                    </rect>
                </svg>
                <svg class="Line_122" viewBox="0 0 343 0.5">
                    <path id="Line_122" d="M 0 0 L 343 0">
                    </path>
                </svg>
            </div>
            <div id="Period">
                <span>Period</span>
            </div>
            <div id="Start_day">
                <span>Start day</span>
            </div>
            <div id="Group_427">
                <div id="Group_424">
                    <div class="Rectangle_334_">
                        <rect id="Rectangle_334_" rx="6" ry="6" x="0" y="0" width="105" height="36">
                            <input type="time" name="starttime" class="timepicker">
                        </rect>
                    </div>
                </div>
            </div>
            <div id="Group_428">
                <div id="Group_423_d">
                    <div class="Rectangle_334_e">
                        <rect id="Rectangle_334_e" rx="6" ry="6" x="0" y="0" width="135" height="36">
                            <input type="date" name="startdate" class="datepicker">
                        </rect>
                    </div>
                </div>
            </div>
            <div id="Group_426">
                <div class="Rectangle_311_m">
                    <rect id="Rectangle_311_m" rx="6" ry="6" x="0" y="0" width="93" height="36">
                        <select class="selGMT">
                            <option value="gmt4">(GMT+4)</option>
                            <option value="gmt5">(GMT+5)</option>
                            <option value="gmt6">(GMT+6)</option>
                            <option value="gmt7">(GMT+7)</option>
                            <option value="gmt8">(GMT+8)</option>
                            <option value="gmt9">(GMT+9)</option>
                        </select>
                    </rect>
                </div>
            </div>
            <div id="End_day">
                <span>End day</span>
            </div>
            <div id="Group_441">
                <div id="Group_424_r">
                    <div class="Rectangle_334_s">
                        <rect id="Rectangle_334_s" rx="6" ry="6" x="0" y="0" width="105" height="36">
                            <input type="time" name="starttime" class="timepicker">
                        </rect>
                    </div>
                </div>
            </div>
            <div id="Group_442">
                <div id="Group_423_w">
                    <div class="Rectangle_334_x">
                        <rect id="Rectangle_334_x" rx="6" ry="6" x="0" y="0" width="135" height="36">
                            <input type="date" name="enddate" class="datepicker">
                        </rect>
                    </div>
                </div>
            </div>
            <div id="Group_443">
                <div class="Rectangle_311_">
                    <rect id="Rectangle_311_" rx="6" ry="6" x="0" y="0" width="93" height="36">
                        <select class="selGMT">
                            <option value="gmt4">(GMT+4)</option>
                            <option value="gmt5">(GMT+5)</option>
                            <option value="gmt6">(GMT+6)</option>
                            <option value="gmt7">(GMT+7)</option>
                            <option value="gmt8">(GMT+8)</option>
                            <option value="gmt9">(GMT+9)</option>
                        </select>
                    </rect>
                </div>
            </div>
            <div id="T_ng_kch_hot_khi_n_thi_gian">
                <span>Tự động kích hoạt khi đến thời gian</span>
            </div>
            <div id="Auto_active">
                <span>Auto active</span>
            </div>
            <div class="Icon_awesome-check-square_a" viewBox="0 2.25 16 16">
                <input type="checkbox" name="autoactive" value="" style="left: 21px; top: 226px;" checked="checked" />
            </div>
        </div>
        <div id="Click_Edit__m_1_tab_mi_iu_hng_">
            <span>Click Edit > mở 1 tab mới<br />điều hướng đến trang chỉnh sửa </span>
        </div>
        <div id="Group_523">
            <div id="Collection_d">
                <span>Collection</span>
            </div>
            <div class="Icon_material-radio-button-che" viewBox="3 3 20 20">
                <input type="radio" name="radio" id="r1" value="addCollection" style="width: 20px; height: 20px">
            </div>
        </div>
        <div id="Product_f">
            <span>Product</span>
        </div>
        <div id="Pepsi_Black_-_Reward_Gifts">
            <span>Pepsi_Black</span>
        </div>
        <div id="Icon_ionic-ios-close-circle-ou_h">
            <svg class="Path_46_i" viewBox="12.359 12.354 6 6">
                <path id="Path_46_i" d="M 18.18253517150879 17.33172225952148 L 16.20932197570801 15.35939884185791 L 18.18253517150879 13.38707447052002 C 18.41467666625977 13.15503692626953 18.41467666625977 12.77329730987549 18.18253517150879 12.54125785827637 C 17.95039176940918 12.30922031402588 17.56847953796387 12.30922031402588 17.33633613586426 12.54125785827637 L 15.36312484741211 14.51358222961426 L 13.38990783691406 12.54125785827637 C 13.15776634216309 12.30922031402588 12.80580711364746 12.27553749084473 12.54371070861816 12.54125785827637 C 12.27786827087402 12.80697917938232 12.31905555725098 13.162522315979 12.54371070861816 13.38707447052002 C 12.76836585998535 13.61162757873535 14.51692390441895 15.35939884185791 14.51692390441895 15.35939884185791 C 14.51692390441895 15.35939884185791 12.79457473754883 17.08097076416016 12.54371070861816 17.33172225952148 C 12.2928466796875 17.58247184753418 12.30407905578613 17.9417552947998 12.54371070861816 18.17753791809082 C 12.7833423614502 18.41706085205078 13.15776634216309 18.40957641601562 13.38990783691406 18.17753791809082 L 15.36312103271484 16.20521354675293 L 17.33633613586426 18.17753791809082 C 17.56847953796387 18.40957641601562 17.95039176940918 18.40957641601562 18.18253326416016 18.17753791809082 C 18.41842269897461 17.94549942016602 18.41842269897461 17.56376075744629 18.18253517150879 17.33172225952148 Z">
                </path>
            </svg>
            <svg class="Path_47_j" viewBox="3.375 3.375 14 14">
                <path id="Path_47_j" d="M 10.37500190734863 4.317307949066162 C 11.99375152587891 4.317307949066162 13.51490592956543 4.946634769439697 14.65913677215576 6.090866088867188 C 15.80336761474609 7.23509693145752 16.43269348144531 8.756250381469727 16.43269348144531 10.37500190734863 C 16.43269348144531 11.99375152587891 15.80336761474609 13.51490592956543 14.65913677215576 14.65913677215576 C 13.51490592956543 15.80336761474609 11.99375152587891 16.43269348144531 10.37500190734863 16.43269348144531 C 8.756250381469727 16.43269348144531 7.23509693145752 15.80336761474609 6.090866088867188 14.65913677215576 C 4.946634769439697 13.51490592956543 4.317307949066162 11.99375152587891 4.317307949066162 10.37500190734863 C 4.317307949066162 8.756251335144043 4.946634769439697 7.23509693145752 6.090866088867188 6.090866088867188 C 7.23509693145752 4.946634769439697 8.756250381469727 4.317307949066162 10.37500190734863 4.317307949066162 M 10.37500190734863 3.375000238418579 C 6.50817346572876 3.375000238418579 3.375000238418579 6.50817346572876 3.375000238418579 10.37500190734863 C 3.375000238418579 14.24182891845703 6.50817346572876 17.37500190734863 10.37500190734863 17.37500190734863 C 14.24182891845703 17.37500190734863 17.37500190734863 14.24182891845703 17.37500190734863 10.37500190734863 C 17.37500190734863 6.50817346572876 14.24182891845703 3.375000238418579 10.37500190734863 3.375000238418579 L 10.37500190734863 3.375000238418579 Z">
                </path>
            </svg>
        </div>
        <div id="Edit_Collection">
            <span>Edit Collection</span>
        </div>
        <div id="Group_527">
            <div class="Icon_material-radio-button-unc" viewBox="3 3 20 20">
                <input type="radio" name="radio" id="r1" value="addProduct" style="width: 20px; height: 20px">
            </div>
            <div id="Add_Product">
                <span>Add Product</span>
            </div>
        </div>
        <div id="Point_per_item_o">
            <span>Point per item.</span>
        </div>
        <div id="n__p">
            <span>2.</span>
        </div>
        <div id="Pepsi_Can_q">
            <span>Pepsi Can</span>
        </div>
        <div id="Icon_ionic-ios-close-circle-ou_r">
            <svg class="Path_46_s" viewBox="12.359 12.354 6 6">
                <path id="Path_46_s" d="M 18.18253517150879 17.33172225952148 L 16.20932197570801 15.35939884185791 L 18.18253517150879 13.38707447052002 C 18.41467666625977 13.15503692626953 18.41467666625977 12.77329730987549 18.18253517150879 12.54125785827637 C 17.95039176940918 12.30922031402588 17.56847953796387 12.30922031402588 17.33633613586426 12.54125785827637 L 15.36312484741211 14.51358222961426 L 13.38990783691406 12.54125785827637 C 13.15776634216309 12.30922031402588 12.80580711364746 12.27553749084473 12.54371070861816 12.54125785827637 C 12.27786827087402 12.80697917938232 12.31905555725098 13.162522315979 12.54371070861816 13.38707447052002 C 12.76836585998535 13.61162757873535 14.51692390441895 15.35939884185791 14.51692390441895 15.35939884185791 C 14.51692390441895 15.35939884185791 12.79457473754883 17.08097076416016 12.54371070861816 17.33172225952148 C 12.2928466796875 17.58247184753418 12.30407905578613 17.9417552947998 12.54371070861816 18.17753791809082 C 12.7833423614502 18.41706085205078 13.15776634216309 18.40957641601562 13.38990783691406 18.17753791809082 L 15.36312103271484 16.20521354675293 L 17.33633613586426 18.17753791809082 C 17.56847953796387 18.40957641601562 17.95039176940918 18.40957641601562 18.18253326416016 18.17753791809082 C 18.41842269897461 17.94549942016602 18.41842269897461 17.56376075744629 18.18253517150879 17.33172225952148 Z">
                </path>
            </svg>
            <svg class="Path_47_t" viewBox="3.375 3.375 14 14">
                <path id="Path_47_t" d="M 10.37500190734863 4.317307949066162 C 11.99375152587891 4.317307949066162 13.51490592956543 4.946634769439697 14.65913677215576 6.090866088867188 C 15.80336761474609 7.23509693145752 16.43269348144531 8.756250381469727 16.43269348144531 10.37500190734863 C 16.43269348144531 11.99375152587891 15.80336761474609 13.51490592956543 14.65913677215576 14.65913677215576 C 13.51490592956543 15.80336761474609 11.99375152587891 16.43269348144531 10.37500190734863 16.43269348144531 C 8.756250381469727 16.43269348144531 7.23509693145752 15.80336761474609 6.090866088867188 14.65913677215576 C 4.946634769439697 13.51490592956543 4.317307949066162 11.99375152587891 4.317307949066162 10.37500190734863 C 4.317307949066162 8.756251335144043 4.946634769439697 7.23509693145752 6.090866088867188 6.090866088867188 C 7.23509693145752 4.946634769439697 8.756250381469727 4.317307949066162 10.37500190734863 4.317307949066162 M 10.37500190734863 3.375000238418579 C 6.50817346572876 3.375000238418579 3.375000238418579 6.50817346572876 3.375000238418579 10.37500190734863 C 3.375000238418579 14.24182891845703 6.50817346572876 17.37500190734863 10.37500190734863 17.37500190734863 C 14.24182891845703 17.37500190734863 17.37500190734863 14.24182891845703 17.37500190734863 10.37500190734863 C 17.37500190734863 6.50817346572876 14.24182891845703 3.375000238418579 10.37500190734863 3.375000238418579 L 10.37500190734863 3.375000238418579 Z">
                </path>
            </svg>
        </div>
        <div id="Edit_product_u">
            <span>Edit product</span>
        </div>
        <div id="Group_528">
            <div id="Group_351_w">
                <svg class="Rectangle_319_x">
                    <rect id="Rectangle_319_x" rx="6" ry="6" x="0" y="0" width="121" height="30">
                    </rect>
                </svg>
                <div id="n_23">
                    <span>123</span>
                </div>
            </div>
            <svg class="Icon_awesome-caret-up_z" viewBox="0.794 12.891 9.85 5.117">
                <path id="Icon_awesome-caret-up_z" d="M 9.980818748474121 18.00768661499023 L 1.458130359649658 18.00768661499023 C 0.8679901361465454 18.00768661499023 0.5724562406539917 17.35413551330566 0.9897409677505493 16.9719181060791 L 5.251085758209229 13.06868743896484 C 5.509756565093994 12.83175468444824 5.92919397354126 12.83175468444824 6.187864780426025 13.06868743896484 L 10.44920825958252 16.9719181060791 C 10.86652565002441 17.35413551330566 10.57095909118652 18.00768661499023 9.980818748474121 18.00768661499023 Z">
                </path>
            </svg>
            <svg class="Icon_awesome-caret-up_" viewBox="0 0 9.85 5.117">
                <path id="Icon_awesome-caret-up_" d="M 9.186416625976562 5.116698741912842 L 0.663728654384613 5.116698741912842 C 0.07358843088150024 5.116698741912842 -0.2219454646110535 4.463147640228271 0.1953392624855042 4.080930233001709 L 4.456684112548828 0.1776995658874512 C 4.715354919433594 -0.05923318862915039 5.134792327880859 -0.05923318862915039 5.393463134765625 0.1776995658874512 L 9.654806137084961 4.080930233001709 C 10.07212352752686 4.463147640228271 9.776556968688965 5.116698741912842 9.186416625976562 5.116698741912842 Z">
                </path>
            </svg>
        </div>
        <div id="Group_529">
            <div id="Group_351_">
                <svg class="Rectangle_319_">
                    <rect id="Rectangle_319_" rx="6" ry="6" x="0" y="0" width="133" height="30">
                    </rect>
                </svg>
                <div id="n_23_">
                    <span>123</span>
                </div>
            </div>
            <svg class="Icon_awesome-caret-up_a" viewBox="0.794 12.891 9.85 5.117">
                <path id="Icon_awesome-caret-up_a" d="M 9.980818748474121 18.00768661499023 L 1.458130359649658 18.00768661499023 C 0.8679901361465454 18.00768661499023 0.5724562406539917 17.35413551330566 0.9897409677505493 16.9719181060791 L 5.251085758209229 13.06868743896484 C 5.509756565093994 12.83175468444824 5.92919397354126 12.83175468444824 6.187864780426025 13.06868743896484 L 10.44920825958252 16.9719181060791 C 10.86652565002441 17.35413551330566 10.57095909118652 18.00768661499023 9.980818748474121 18.00768661499023 Z">
                </path>
            </svg>
            <svg class="Icon_awesome-caret-up_b" viewBox="0 0 9.85 5.117">
                <path id="Icon_awesome-caret-up_b" d="M 9.186416625976562 5.116698741912842 L 0.663728654384613 5.116698741912842 C 0.07358843088150024 5.116698741912842 -0.2219454646110535 4.463147640228271 0.1953392624855042 4.080930233001709 L 4.456684112548828 0.1776995658874512 C 4.715354919433594 -0.05923318862915039 5.134792327880859 -0.05923318862915039 5.393463134765625 0.1776995658874512 L 9.654806137084961 4.080930233001709 C 10.07212352752686 4.463147640228271 9.776556968688965 5.116698741912842 9.186416625976562 5.116698741912842 Z">
                </path>
            </svg>
        </div>
        <div id="Cans_">
            <span>Cans</span>
        </div>
        <div id="Tnggim">
            <span>Tăng/giảm</span>
        </div>
        <svg class="Line_135" viewBox="0 0 12 28">
            <path id="Line_135" d="M 12 0 L 0 28">
            </path>
        </svg>
        <div id="n_v_tnh_redemption_thay_i_theo">
            <span>Đơn vị tính redemption thay đổi theo "Type"<br />VD: Reward > Point - điểm<br />       Discount > %</span>
        </div>
        <svg class="Ellipse_2">
            <ellipse id="Ellipse_2" rx="22" ry="18" cx="22" cy="18">
            </ellipse>
        </svg>
        <div id="Group_531">
            <div id="Group_524_d">
                <svg class="Rectangle_352_e">
                    <rect id="Rectangle_352_e" rx="6" ry="6" x="0" y="0" width="136" height="31">
                    </rect>
                </svg>
                <div id="Add_Collection">
                    <span>Add Collection</span>
                </div>
            </div>
            <div id="Icon_ionic-ios-add-circle-outl_g">
                <svg class="Path_49_h" viewBox="10.512 10.512 8.5 8.5">
                    <path id="Path_49_h" d="M 18.37322044372559 14.12321853637695 L 15.40021514892578 14.12321853637695 L 15.40021514892578 11.15021705627441 C 15.40021514892578 10.79904365539551 15.11289215087891 10.51171875 14.76171875 10.51171875 C 14.41054534912109 10.51171875 14.12321853637695 10.79904365539551 14.12321853637695 11.15021705627441 L 14.12321853637695 14.12321853637695 L 11.15021705627441 14.12321853637695 C 10.79904365539551 14.12321853637695 10.51171875 14.36265754699707 10.51171875 14.76171875 C 10.51171875 15.1607780456543 10.81101417541504 15.40021514892578 11.15021705627441 15.40021514892578 C 11.48941993713379 15.40021514892578 14.12321853637695 15.40021514892578 14.12321853637695 15.40021514892578 C 14.12321853637695 15.40021514892578 14.12321853637695 17.99411392211914 14.12321853637695 18.37322044372559 C 14.12321853637695 18.7523307800293 14.40256309509277 19.01171875 14.76171875 19.01171875 C 15.12087249755859 19.01171875 15.40021514892578 18.72439384460449 15.40021514892578 18.37322044372559 L 15.40021514892578 15.40021514892578 L 18.37322044372559 15.40021514892578 C 18.72439384460449 15.40021514892578 19.01171875 15.11289215087891 19.01171875 14.76171875 C 19.01171875 14.41054534912109 18.72439384460449 14.12321853637695 18.37322044372559 14.12321853637695 Z">
                    </path>
                </svg>
                <svg class="Path_50_i" viewBox="3.375 3.375 20 20">
                    <path id="Path_50_i" d="M 13.375 4.72115421295166 C 15.6875 4.72115421295166 17.8605785369873 5.620192527770996 19.49519348144531 7.25480842590332 C 21.12980842590332 8.889423370361328 22.02884674072266 11.0625 22.02884674072266 13.375 C 22.02884674072266 15.6875 21.12980842590332 17.8605785369873 19.49519348144531 19.49519348144531 C 17.8605785369873 21.12980842590332 15.6875 22.02884674072266 13.375 22.02884674072266 C 11.0625 22.02884674072266 8.889423370361328 21.12980842590332 7.25480842590332 19.49519348144531 C 5.620192527770996 17.8605785369873 4.72115421295166 15.6875 4.72115421295166 13.375 C 4.72115421295166 11.06250095367432 5.620192527770996 8.889423370361328 7.25480842590332 7.25480842590332 C 8.889423370361328 5.620192527770996 11.0625 4.72115421295166 13.375 4.72115421295166 M 13.375 3.375 C 7.850961685180664 3.375 3.375 7.850961685180664 3.375 13.375 C 3.375 18.89904022216797 7.850961685180664 23.37500190734863 13.375 23.37500190734863 C 18.89904022216797 23.37500190734863 23.37500190734863 18.89904022216797 23.37500190734863 13.375 C 23.37500190734863 7.850961685180664 18.89904022216797 3.375 13.375 3.375 L 13.375 3.375 Z">
                    </path>
                </svg>
            </div>
        </div>
        <div id="Group_532">
            <div id="Group_524_k">
                <svg class="Rectangle_352_l">
                    <rect id="Rectangle_352_l" rx="6" ry="6" x="0" y="0" width="136" height="31">
                    </rect>
                </svg>
                <div id="Add_Product_m">
                    <span>Add Product</span>
                </div>
            </div>
            <div id="Icon_ionic-ios-add-circle-outl_n">
                <svg class="Path_49_o" viewBox="10.512 10.512 8.5 8.5">
                    <path id="Path_49_o" d="M 18.37322044372559 14.12321853637695 L 15.40021514892578 14.12321853637695 L 15.40021514892578 11.15021705627441 C 15.40021514892578 10.79904365539551 15.11289215087891 10.51171875 14.76171875 10.51171875 C 14.41054534912109 10.51171875 14.12321853637695 10.79904365539551 14.12321853637695 11.15021705627441 L 14.12321853637695 14.12321853637695 L 11.15021705627441 14.12321853637695 C 10.79904365539551 14.12321853637695 10.51171875 14.36265754699707 10.51171875 14.76171875 C 10.51171875 15.1607780456543 10.81101417541504 15.40021514892578 11.15021705627441 15.40021514892578 C 11.48941993713379 15.40021514892578 14.12321853637695 15.40021514892578 14.12321853637695 15.40021514892578 C 14.12321853637695 15.40021514892578 14.12321853637695 17.99411392211914 14.12321853637695 18.37322044372559 C 14.12321853637695 18.7523307800293 14.40256309509277 19.01171875 14.76171875 19.01171875 C 15.12087249755859 19.01171875 15.40021514892578 18.72439384460449 15.40021514892578 18.37322044372559 L 15.40021514892578 15.40021514892578 L 18.37322044372559 15.40021514892578 C 18.72439384460449 15.40021514892578 19.01171875 15.11289215087891 19.01171875 14.76171875 C 19.01171875 14.41054534912109 18.72439384460449 14.12321853637695 18.37322044372559 14.12321853637695 Z">
                    </path>
                </svg>
                <svg class="Path_50_p" viewBox="3.375 3.375 20 20">
                    <path id="Path_50_p" d="M 13.375 4.72115421295166 C 15.6875 4.72115421295166 17.8605785369873 5.620192527770996 19.49519348144531 7.25480842590332 C 21.12980842590332 8.889423370361328 22.02884674072266 11.0625 22.02884674072266 13.375 C 22.02884674072266 15.6875 21.12980842590332 17.8605785369873 19.49519348144531 19.49519348144531 C 17.8605785369873 21.12980842590332 15.6875 22.02884674072266 13.375 22.02884674072266 C 11.0625 22.02884674072266 8.889423370361328 21.12980842590332 7.25480842590332 19.49519348144531 C 5.620192527770996 17.8605785369873 4.72115421295166 15.6875 4.72115421295166 13.375 C 4.72115421295166 11.06250095367432 5.620192527770996 8.889423370361328 7.25480842590332 7.25480842590332 C 8.889423370361328 5.620192527770996 11.0625 4.72115421295166 13.375 4.72115421295166 M 13.375 3.375 C 7.850961685180664 3.375 3.375 7.850961685180664 3.375 13.375 C 3.375 18.89904022216797 7.850961685180664 23.37500190734863 13.375 23.37500190734863 C 18.89904022216797 23.37500190734863 23.37500190734863 18.89904022216797 23.37500190734863 13.375 C 23.37500190734863 7.850961685180664 18.89904022216797 3.375 13.375 3.375 L 13.375 3.375 Z">
                    </path>
                </svg>
            </div>
        </div>
        <div id="Group_533">
            <div id="Group_524_r">
                <svg class="Rectangle_352_s">
                    <rect id="Rectangle_352_s" rx="6" ry="6" x="0" y="0" width="136" height="31">
                    </rect>
                </svg>
                <div id="Add_store">
                    <span>Add store</span>
                </div>
            </div>
            <div id="Icon_ionic-ios-add-circle-outl_u">
                <svg class="Path_49_v" viewBox="10.512 10.512 8.5 8.5">
                    <path id="Path_49_v" d="M 18.37322044372559 14.12321853637695 L 15.40021514892578 14.12321853637695 L 15.40021514892578 11.15021705627441 C 15.40021514892578 10.79904365539551 15.11289215087891 10.51171875 14.76171875 10.51171875 C 14.41054534912109 10.51171875 14.12321853637695 10.79904365539551 14.12321853637695 11.15021705627441 L 14.12321853637695 14.12321853637695 L 11.15021705627441 14.12321853637695 C 10.79904365539551 14.12321853637695 10.51171875 14.36265754699707 10.51171875 14.76171875 C 10.51171875 15.1607780456543 10.81101417541504 15.40021514892578 11.15021705627441 15.40021514892578 C 11.48941993713379 15.40021514892578 14.12321853637695 15.40021514892578 14.12321853637695 15.40021514892578 C 14.12321853637695 15.40021514892578 14.12321853637695 17.99411392211914 14.12321853637695 18.37322044372559 C 14.12321853637695 18.7523307800293 14.40256309509277 19.01171875 14.76171875 19.01171875 C 15.12087249755859 19.01171875 15.40021514892578 18.72439384460449 15.40021514892578 18.37322044372559 L 15.40021514892578 15.40021514892578 L 18.37322044372559 15.40021514892578 C 18.72439384460449 15.40021514892578 19.01171875 15.11289215087891 19.01171875 14.76171875 C 19.01171875 14.41054534912109 18.72439384460449 14.12321853637695 18.37322044372559 14.12321853637695 Z">
                    </path>
                </svg>
                <svg class="Path_50_w" viewBox="3.375 3.375 20 20">
                    <path id="Path_50_w" d="M 13.375 4.72115421295166 C 15.6875 4.72115421295166 17.8605785369873 5.620192527770996 19.49519348144531 7.25480842590332 C 21.12980842590332 8.889423370361328 22.02884674072266 11.0625 22.02884674072266 13.375 C 22.02884674072266 15.6875 21.12980842590332 17.8605785369873 19.49519348144531 19.49519348144531 C 17.8605785369873 21.12980842590332 15.6875 22.02884674072266 13.375 22.02884674072266 C 11.0625 22.02884674072266 8.889423370361328 21.12980842590332 7.25480842590332 19.49519348144531 C 5.620192527770996 17.8605785369873 4.72115421295166 15.6875 4.72115421295166 13.375 C 4.72115421295166 11.06250095367432 5.620192527770996 8.889423370361328 7.25480842590332 7.25480842590332 C 8.889423370361328 5.620192527770996 11.0625 4.72115421295166 13.375 4.72115421295166 M 13.375 3.375 C 7.850961685180664 3.375 3.375 7.850961685180664 3.375 13.375 C 3.375 18.89904022216797 7.850961685180664 23.37500190734863 13.375 23.37500190734863 C 18.89904022216797 23.37500190734863 23.37500190734863 18.89904022216797 23.37500190734863 13.375 C 23.37500190734863 7.850961685180664 18.89904022216797 3.375 13.375 3.375 L 13.375 3.375 Z">
                    </path>
                </svg>
            </div>
        </div>
        <div id="Group_458">
            <div class="Rectangle_311_y">
                <rect id="Rectangle_311_y" rx="6" ry="6" x="0" y="0" width="983" height="36">
                    @Html.EditorFor(model => model.Market, new { htmlAttributes = new { @class = "form-control", id = "market" } })
                    @Html.ValidationMessageFor(model => model.Market, "", new { @class = "text-danger" })
                </rect>
            </div>
            <svg class="Icon_feather-chevron-down_d" viewBox="9 13.5 11.39 4.5">
                <path id="Icon_feather-chevron-down_d" d="M 9 13.5 L 14.695068359375 18 L 20.39013671875 13.5">
                </path>
            </svg>
        </div>
        <div id="Market">
            <span>Market</span>
        </div>
        <div id="Group_535">
            <svg class="Path_51" viewBox="0 -11.009 296.46 301.076">
                <path id="Path_51" d="M 0 1.887544512748718 L 25.92121124267578 1.887544512748718 L 33.53080749511719 -11.00854587554932 L 41.14238739013672 1.887544512748718 L 296.4599609375 1.887544512748718 L 296.4599609375 290.0671691894531 L 0 290.0671691894531 L 0 1.887544512748718 Z">
                </path>
            </svg>
        </div>
        <div id="Group_536">
            <div id="Group_534">
                <svg class="Rectangle_6_">
                    <rect id="Rectangle_6_" rx="9" ry="9" x="0" y="0" width="277" height="32">
                    </rect>
                </svg>
                <svg class="Icon_awesome-search_" viewBox="0 0 17 17">
                    <path id="Icon_awesome-search_" d="M 16.76880264282227 14.69758796691895 L 13.45820903778076 11.38756084442139 C 13.30878353118896 11.23816013336182 13.10623073577881 11.15516090393066 12.89371395111084 11.15516090393066 L 12.35246562957764 11.15516090393066 C 13.2689380645752 9.98320484161377 13.81350898742676 8.509129524230957 13.81350898742676 6.905575275421143 C 13.81350898742676 3.090909004211426 10.72207164764404 0 6.906754493713379 0 C 3.091436386108398 0 0 3.090909004211426 0 6.905575275421143 C 0 10.72024250030518 3.091436862945557 13.81115055084229 6.906754493713379 13.81115055084229 C 8.510581970214844 13.81115055084229 9.984908103942871 13.26667213439941 11.15706443786621 12.35035610198975 L 11.15706443786621 12.89151477813721 C 11.15706443786621 13.10399341583252 11.24007892608643 13.3065128326416 11.38950252532959 13.45591163635254 L 14.70009803771973 16.76594161987305 C 15.01222991943359 17.0780200958252 15.51695537567139 17.0780200958252 15.82576465606689 16.76594161987305 L 16.76548004150391 15.82638263702393 C 17.07761573791504 15.51430416107178 17.07761573791504 15.00966548919678 16.76880264282227 14.69758796691895 Z M 6.906754493713379 11.15516090393066 C 4.559121608734131 11.15516090393066 2.656444072723389 9.256126403808594 2.656444072723389 6.905575275421143 C 2.656444072723389 4.558343887329102 4.555801391601562 2.655990600585938 6.906754493713379 2.655990600585938 C 9.254386901855469 2.655990600585938 11.15706443786621 4.555023670196533 11.15706443786621 6.905575275421143 C 11.15706443786621 9.2528076171875 9.257707595825195 11.15516090393066 6.906754493713379 11.15516090393066 Z">
                    </path>
                </svg>
            </div>
            <div id="Search_for_Store">
                <span>Search for Store</span>
            </div>
        </div>
        <div id="Group_538">
            <svg class="Rectangle_353">
                <rect id="Rectangle_353" rx="0" ry="0" x="0" y="0" width="5" height="150">
                </rect>
            </svg>
            <svg class="Rectangle_354">
                <rect id="Rectangle_354" rx="2.5" ry="2.5" x="0" y="0" width="5" height="66">
                </rect>
            </svg>
        </div>
        <div id="Group_543">
            <div id="Group_524_e">
                <svg class="Rectangle_352_f">
                    <rect id="Rectangle_352_f" rx="6" ry="6" x="0" y="0" width="136" height="31">
                    </rect>
                </svg>
                <div id="Add_store_f">
                    <span>Add store</span>
                </div>
            </div>
            <div id="Icon_ionic-ios-add-circle-outl_h">
                <svg class="Path_49_i" viewBox="10.512 10.512 8.5 8.5">
                    <path id="Path_49_i" d="M 18.37322044372559 14.12321853637695 L 15.40021514892578 14.12321853637695 L 15.40021514892578 11.15021705627441 C 15.40021514892578 10.79904365539551 15.11289215087891 10.51171875 14.76171875 10.51171875 C 14.41054534912109 10.51171875 14.12321853637695 10.79904365539551 14.12321853637695 11.15021705627441 L 14.12321853637695 14.12321853637695 L 11.15021705627441 14.12321853637695 C 10.79904365539551 14.12321853637695 10.51171875 14.36265754699707 10.51171875 14.76171875 C 10.51171875 15.1607780456543 10.81101417541504 15.40021514892578 11.15021705627441 15.40021514892578 C 11.48941993713379 15.40021514892578 14.12321853637695 15.40021514892578 14.12321853637695 15.40021514892578 C 14.12321853637695 15.40021514892578 14.12321853637695 17.99411392211914 14.12321853637695 18.37322044372559 C 14.12321853637695 18.7523307800293 14.40256309509277 19.01171875 14.76171875 19.01171875 C 15.12087249755859 19.01171875 15.40021514892578 18.72439384460449 15.40021514892578 18.37322044372559 L 15.40021514892578 15.40021514892578 L 18.37322044372559 15.40021514892578 C 18.72439384460449 15.40021514892578 19.01171875 15.11289215087891 19.01171875 14.76171875 C 19.01171875 14.41054534912109 18.72439384460449 14.12321853637695 18.37322044372559 14.12321853637695 Z">
                    </path>
                </svg>
                <svg class="Path_50_j" viewBox="3.375 3.375 20 20">
                    <path id="Path_50_j" d="M 13.375 4.72115421295166 C 15.6875 4.72115421295166 17.8605785369873 5.620192527770996 19.49519348144531 7.25480842590332 C 21.12980842590332 8.889423370361328 22.02884674072266 11.0625 22.02884674072266 13.375 C 22.02884674072266 15.6875 21.12980842590332 17.8605785369873 19.49519348144531 19.49519348144531 C 17.8605785369873 21.12980842590332 15.6875 22.02884674072266 13.375 22.02884674072266 C 11.0625 22.02884674072266 8.889423370361328 21.12980842590332 7.25480842590332 19.49519348144531 C 5.620192527770996 17.8605785369873 4.72115421295166 15.6875 4.72115421295166 13.375 C 4.72115421295166 11.06250095367432 5.620192527770996 8.889423370361328 7.25480842590332 7.25480842590332 C 8.889423370361328 5.620192527770996 11.0625 4.72115421295166 13.375 4.72115421295166 M 13.375 3.375 C 7.850961685180664 3.375 3.375 7.850961685180664 3.375 13.375 C 3.375 18.89904022216797 7.850961685180664 23.37500190734863 13.375 23.37500190734863 C 18.89904022216797 23.37500190734863 23.37500190734863 18.89904022216797 23.37500190734863 13.375 C 23.37500190734863 7.850961685180664 18.89904022216797 3.375 13.375 3.375 L 13.375 3.375 Z">
                    </path>
                </svg>
            </div>
        </div>
        <svg class="Line_136" viewBox="0 0 824 7">
            <path id="Line_136" d="M 0 7 L 824 0">
            </path>
        </svg>
        <div id="Group_545">
            <div id="Group_539">
                <div id="Group_534_m">
                    <svg class="Rectangle_6_n">
                        <rect id="Rectangle_6_n" rx="0" ry="0" x="0" y="0" width="291" height="50">
                        </rect>
                    </svg>
                </div>
                <div id="Circle_K_-_Au_Co_o">
                    <span>Circle K - Au Co</span>
                </div>
            </div>
            <svg class="Icon_feather-square_q" viewBox="4.5 4.5 16 16">
                <path id="Icon_feather-square_q" d="M 6.277778148651123 4.5 L 18.72222328186035 4.5 C 19.70406341552734 4.5 20.50000190734863 5.295937538146973 20.50000190734863 6.277777194976807 L 20.50000190734863 18.72222518920898 C 20.50000190734863 19.70406341552734 19.70406341552734 20.50000190734863 18.72222328186035 20.50000190734863 L 6.277778148651123 20.50000190734863 C 5.295937538146973 20.50000190734863 4.5 19.70406341552734 4.5 18.72222518920898 L 4.5 6.277777194976807 C 4.5 5.295937538146973 5.295938491821289 4.499999523162842 6.277778148651123 4.5 Z">
                </path>
            </svg>
        </div>
        <div id="Group_544">
            <div id="Group_537">
                <div id="Group_534_s">
                    <svg class="Rectangle_6_t">
                        <rect id="Rectangle_6_t" rx="0" ry="0" x="0" y="0" width="291" height="50">
                        </rect>
                    </svg>
                </div>
                <div id="Circle_K_-_Au_Co_u">
                    <span>Circle K - Au Co</span>
                </div>
            </div>
            <svg class="Icon_awesome-check-square_v" viewBox="0 2.25 16 16">
                <path id="Icon_awesome-check-square_v" d="M 14.28571510314941 18.25000190734863 L 1.714285731315613 18.25000190734863 C 0.7675000429153442 18.25000190734863 0 17.48250007629395 0 16.53571510314941 L 0 3.964285850524902 C 0 3.017500162124634 0.7675000429153442 2.25 1.714285731315613 2.25 L 14.28571510314941 2.25 C 15.23250102996826 2.25 16 3.017500162124634 16 3.964285850524902 L 16 16.53571510314941 C 16 17.48250007629395 15.23250102996826 18.25000190734863 14.28571510314941 18.25000190734863 Z M 6.975500106811523 14.74789428710938 L 13.54692935943604 8.176465034484863 C 13.7700719833374 7.953321933746338 13.7700719833374 7.591500282287598 13.54692935943604 7.36835765838623 L 12.7388219833374 6.560250282287598 C 12.51567935943604 6.337106704711914 12.15385913848877 6.337070941925049 11.93067932128906 6.560250282287598 L 6.571428775787354 11.91946601867676 L 4.069321632385254 9.4173583984375 C 3.846179008483887 9.194215774536133 3.484357357025146 9.194215774536133 3.261178731918335 9.4173583984375 L 2.45307183265686 10.22546577453613 C 2.229928731918335 10.4486083984375 2.229928731918335 10.81042957305908 2.45307183265686 11.03357315063477 L 6.167357921600342 14.74785995483398 C 6.390536308288574 14.97107315063477 6.752322196960449 14.97107315063477 6.975500106811523 14.74789524078369 Z">
                </path>
            </svg>
        </div>
        <div id="Group_546">
            <div id="Group_539_x">
                <div id="Group_534_y">
                    <svg class="Rectangle_6_z">
                        <rect id="Rectangle_6_z" rx="0" ry="0" x="0" y="0" width="291" height="50">
                        </rect>
                    </svg>
                </div>
                <div id="Circle_K_-_Au_Co_a">
                    <span>Circle K - Au Co</span>
                </div>
            </div>
            <svg class="Icon_feather-square_" viewBox="4.5 4.5 16 16">
                <path id="Icon_feather-square_" d="M 6.277778148651123 4.5 L 18.72222328186035 4.5 C 19.70406341552734 4.5 20.50000190734863 5.295937538146973 20.50000190734863 6.277777194976807 L 20.50000190734863 18.72222518920898 C 20.50000190734863 19.70406341552734 19.70406341552734 20.50000190734863 18.72222328186035 20.50000190734863 L 6.277778148651123 20.50000190734863 C 5.295937538146973 20.50000190734863 4.5 19.70406341552734 4.5 18.72222518920898 L 4.5 6.277777194976807 C 4.5 5.295937538146973 5.295938491821289 4.499999523162842 6.277778148651123 4.5 Z">
                </path>
            </svg>
        </div>
        <div id="All">
            <span>All</span>
        </div>
        <svg class="Icon_feather-square_a" viewBox="4.5 4.5 16 16">
            <path id="Icon_feather-square_a" d="M 6.277778148651123 4.5 L 18.72222328186035 4.5 C 19.70406341552734 4.5 20.50000190734863 5.295937538146973 20.50000190734863 6.277777194976807 L 20.50000190734863 18.72222518920898 C 20.50000190734863 19.70406341552734 19.70406341552734 20.50000190734863 18.72222328186035 20.50000190734863 L 6.277778148651123 20.50000190734863 C 5.295937538146973 20.50000190734863 4.5 19.70406341552734 4.5 18.72222518920898 L 4.5 6.277777194976807 C 4.5 5.295937538146973 5.295938491821289 4.499999523162842 6.277778148651123 4.5 Z">
            </path>
        </svg>
        <div id="Group_421">
            <svg class="Rectangle_300_">
                <rect id="Rectangle_300_" rx="0" ry="0" x="0" y="0" width="65" height="30">
                </rect>
            </svg>
            <div id="Cancel_">
                <span>Cancel</span>
            </div>
        </div>
        <div id="Group_422">
            <svg class="Rectangle_300_a">
                <rect id="Rectangle_300_a" rx="0" ry="0" x="0" y="0" width="60" height="30">
                </rect>
            </svg>
            <div id="Save_">
                <span>Save</span>
            </div>
        </div>
        <div id="Roll_chut__ko_xung_danh_sch">
            <span>Roll chuột để kéo<br />xuống danh sách</span>
        </div>
        <div id="Group_509">
            <div id="Group_421_c">
                <div class="Rectangle_300_d">
                    <rect id="Rectangle_300_d" rx="0" ry="0" x="0" y="0" width="65" height="36">
                        <a class="btn btn-sm btn-default" href="@Url.Action("Index","Campaign")" style="width:69px ; height:55px">
                            <i class="fas fa-backward"></i> <br /> <b>Cancel</b>
                        </a>
                    </rect>
                </div>
            </div>
            <div id="Group_422_f">
                <div class="Rectangle_300_g">
                    <rect id="Rectangle_300_g" rx="0" ry="0" x="0" y="0" width="60" height="36">
                        <button type="submit" class="btn btn-primary btn-sm">
                            <i class="fas fa-save"></i> <b>Save</b>
                        </button>
                    </rect>
                </div>
            </div>
            <div id="Group_434_i">
                <svg class="Rectangle_300_j">
                    <rect id="Rectangle_300_j" rx="0" ry="0" x="0" y="0" width="70" height="36">
                    </rect>
                </svg>
                <div id="Delete_k">
                    <span>Delete</span>
                </div>
            </div>
        </div>
    </div>
}